
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
                <div class="navbar-text pull-left" style="margin-left: 0px">
                    <a href="#/user/{{model.uid}}/">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>

                <div class="navbar-default">
                    <a class="navbar-brand" href="#">
                        Websites
                    </a>

                    <p class="navbar-text pull-right">
                        <a href="#/user/{{model.uid}}/website/new" class="navbar-link">
                             <span class="glyphicon glyphicon-plus" style="margin-right:15px">
                            </span>
                        </a>
                    </p>
                </div>

        </div>



    </nav>

        <div class="container">

            <ul class="list-group">

                {{model.websites}}
                <li ng-repeat ="website in model.websites" class="list-group-item">
                    <a href="#/user/{{website.developerId}}/website/{{website._id}}/page">
                        {{websites.name}}
                    </a>
                    <a href="#/user/{{website.developerId}}/website/{{website._id}}" class = "pull-right">
                        <span class = "glyphicon glyphicon-cog"></span>
                    </a>

                </li>


            </ul>

        </div>


<nav id="fixedBacks" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class=""></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class=""></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class=""></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
