
    <nav id = "navBar2" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class ="navbar-header">
                <div class="navbar-text pull-left" style="margin-left: 0px">
                    <a href="../website/website-list.view.client.html">
                        <span class="glyphicon glyphicon-chevron-left" style="color:dimgray"></span>
                    </a>
                </div>

                <div class="navbar-header">
                    <a class="navbar-brand" href="../widget/widget-list.view.client.html">
                        Pages
                    </a>

                    <p class="navbar-text pull-right">
                        <a href="page-new.view.client.html" class="navbar-link">
                             <span class="glyphicon glyphicon-plus" style="margin-right:15px; color:dimgray" >
                            </span>
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </nav>

        <div class="container">

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="../widget/widget-list.view.client.html">
                        Blog Post
                    </a>
                    <a href="page-edit.view.client.html" class = "pull-right">
                        <span class = "glyphicon glyphicon-cog"></span>
                    </a>

                <li class="list-group-item">
                    <a href="../widget/widget-list.view.client.html">
                        Blogs
                    </a>
                    <a href="page-edit.view.client.html" class = "pull-right">
                        <span class = "glyphicon glyphicon-cog"></span>
                    </a>

                <li class="list-group-item">
                    <a href="../widget/widget-list.view.client.html">
                        Home
                    </a>
                    <a href="page-edit.view.client.html" class = "pull-right">
                        <span class = "glyphicon glyphicon-cog"></span>
                    </a>

                <li class="list-group-item">
                    <a href="../widget/widget-list.view.client.html">
                        About
                    </a>
                    <a href="page-edit.view.client.html" class = "pull-right">
                        <span class = "glyphicon glyphicon-cog"></span>
                    </a>

                <li class="list-group-item">
                    <a href="../widget/widget-list.view.client.html">
                        Contact Us
                    </a>
                    <a href="page-edit.view.client.html" class = "pull-right">
                        <span class = "glyphicon glyphicon-cog"></span>
                    </a>



                </li>


            </ul>

        </div>

<nav id="grayBottom" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class=""></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class=""></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class=""></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="../views/user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user" style="color:cornflowerblue"></span>
                </a>
            </div>
        </div>
    </div>
</nav>