
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class ="navbar-header">
                <div class="navbar-text pull-left" style="margin-left: 0px">
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page">
                        <span class="glyphicon glyphicon-chevron-left" style="color:dimgray"></span>
                    </a>
                </div>

                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        New Page
                    </a>

                    <p class="navbar-text pull-right">
                        <a ng-click="model.createPage(name,desc)" class="navbar-link">
                             <span class="glyphicon glyphicon-ok" style="margin-right:15px; color:dimgray" >
                            </span>
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </nav>

        <div class="container">

            <form class="webNew">
                <div class="form-group">
                    <label for="page-name">Name</label>
                    <input ng-model="name"
                           type="text"
                           class="form-control"
                           id="page-name"
                           placeholder="Page Name">
                </div>
                <div class="form-group2">
                    <label for="page-title">Title</label>
                    <input ng-model="desc"
                           type="text"
                           class="form-control"
                           id="page-title"
                           placeholder="Page Title">
                </div>

        </div>

<nav id="grayBottom" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class=""></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class=""></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class=""></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class="glyphicon glyphicon-user" style="color:cornflowerblue"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
