
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class ="navbar-header">
                <div class="navbar-text pull-left" style="margin-left: 0px">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                        <span class="glyphicon glyphicon-chevron-left" style="color:dimgray"></span>
                    </a>
                </div>

                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Choose Widget
                    </a>

                </div>
            </div>

        </div>
    </nav>

        <div class="container">

            <ul class="list-group">
                <li class="list-group-item">
                    <a href="widget-heading.view.client.html">
                        Header
                    </a>

                <li class="list-group-item">
                    <a href="#">
                        Label
                    </a>

                <li class="list-group-item">
                    <a href="#">
                        HTML


                <li class="list-group-item">
                    <a href="#">
                        Text Input
                    </a>


                <li class="list-group-item">
                    <a href="#">
                        Link
                    </a>
                <li class="list-group-item">
                    <a href="#">
                        Button
                    </a>
                <li class="list-group-item">
                    <a href="widget-image.view.client.html">
                        Image
                    </a>
                <li class="list-group-item">
                    <a href="widget-youtube.view.client.html">
                        Youtube
                    </a>
                <li class="list-group-item">
                    <a href="#">
                        Data Table
                    </a>
                <li class="list-group-item">
                    <a href="#">
                        Repeater
                    </a>




                </li>


            </ul>

        </div>

<nav id="grayBottom" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class=""></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class=""></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <span class=""></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/:uid">
                    <span class="glyphicon glyphicon-user" style="color:cornflowerblue"></span>
                </a>
            </div>
        </div>
    </div>
</nav>